@model IEnumerable<ProjetoBlueModas.Models.Categoria>

<style>
    @* Imports *@
    @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

    #Home, #Produto, #Sobre, #Cesta, #Login {
        display: none;
    }

    .lh-title {
        font-family: 'Quicksand', sans-serif;
    }

    .lh-hr {
        width: 80%;
        margin-bottom: 20px;
    }
</style>

<div class="lh-title text-center">
    <h3>Categoria</h3>
</div>
<hr class="lh-hr" />
<div class="container">
    <p>
        <a asp-action="Create" class="btn btn-outline-primary">Criar categoria</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    Ação
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
